
.first-section {
    h1 {
        background-color: #000;
        color: $font-color-green;
        font-size: 80px;
        @include responsive(1200px) {
            font-size: 60px;
        }
        @include responsive(790px) {
            font-size: 40px;
        }
        @include responsive(480px) {
            font-size: 32px;
        }
    }
    button {
        font-size: 22px;
        color: red;
        border-radius: 9999px;
        border-color: blue;
        background-color: #000;
        cursor: pointer;
        &.active {
            background-color: blue;
        }
        &:hover {
            background-color: green;
        }
        &.active:hover {
            background-color: white;
        }
    }
    .btn {
        @include style-btn(150px, 100px, pink);
    }
}